h1
{
	color: black;
    width: 800px;
	margin: 0 auto;
	background-color: limegreen;
	text-align: center;
	align-content: center;
}

h2
{
	color: green;
    width: 800px;
	margin: 0 auto;
	background-color: lightgreen;
	text-align: center;
	align-content: center;
}

h3
{
	color: black;
    width: 800px;
	margin: 0 auto;
	background-color: lightgreen;
	text-align: center;
	align-content: center;
}

h4
{
	color: black;
    width: 800px;
	margin: 0 auto;
	background-color: lightgreen;
	text-align: center;
	align-content: center;
}




body
{
	background-color: seagreen;
}

#Accueil
{
	width: 800px;
	margin: 0 auto;
	background-color: lightgreen;
	text-align: center;
	align-content: center;
}
